* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  background-color: #00bcd4;
}
.start {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000054;
  z-index: 1000;
  display: none;
}
.start button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 25px;
  color: white;
  font-size: 23px;
  border: none;
  border-radius: 8px;
  background-color: #ff5722;
  cursor: pointer;
}
.container {
  width: 60%;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
}
.qiuz-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .qiuz-info {
    flex-direction: column;
  }
}
.qiuz-info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: silver;
  left: 0;
  bottom: 0;
}
.qiuz-info::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: green;
  left: 0;
  bottom: 0;
}
.qiuz-info h1 {
  width: fit-content;
  font-size: 22px;
}
@media (max-width: 767px) {
  .qiuz-info h1 {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.qiuz-info .countdown {
  font-weight: bold;
  background-color: #00bcd438;
  padding: 10px;
  border-radius: 12px;
  color: blue;
  width: 125px;
}
.qiuz-info .countdown .count {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 12px;
}
.quiz-content {
  position: relative;
}
.quiz-content .question {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .quiz-content .question {
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .quiz-content .question {
    font-size: 11px;
  }
}
.quiz-content .question .question-title {
  margin-left: 10px;
}
.quiz-content .answers {
  padding-left: 15px;
  margin-bottom: 30px;
}
.quiz-content .answers .answer {
  margin-bottom: 25px;
  border-bottom: 1px solid red;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .quiz-content .answers .answer {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .quiz-content .answers .answer {
    font-size: 11px;
  }
}
.quiz-content .answers .answer label {
  cursor: pointer;
}
.quiz-content .info-about-left {
  padding-left: 10px;
  width: fit-content;
}
@media (max-width: 375px) {
  .quiz-content .info-about-left {
    font-size: 11px;
  }
}
.quiz-content .next-que {
  position: absolute;
  right: 0;
  bottom: -5px;
  padding: 10px;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 12px;
}
